:root {
  /* Font & Rendering */
  font-family: 'Inter', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color Palette */
  color: #000000;
  background-color: #FFFFFF;
}

  /* global layout */
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #636977;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

button:hover {
  background-color: #33AA5E;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
